<table>
    {{#each table}}
        {{#if this.busy}}
            <tr><td style="width: 50px; background: red"></td></tr>
        {{else}}
            <tr><td style="width: 50px; background: greenyellow"></td></tr>
        {{/if}}
    {{/each}}
</table>

<form action="/" method="post">
    <input type="number" min="9" max="19" name="hour">
    <input type="number" min="0" max="59" name="minute">
    <select name="service">
        {{#each services}}
            <option value="{{this.id}}">{{this.title}}</option>
        {{/each}}
    </select>
    <input type="text" name="name">
    <input type="text" name="phone">
    <input type="submit" value="Записаться">
</form>